.notice{
  height:200px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888888;
  background: white;
  margin: 10px ;
}
.remind{
  height:300px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888888;
  background: white;
  margin: 10px ;
}
.skillFigure{
  height:300px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888888;
  background: white;
  margin: 10px ;
}
.body{
  /* margin: 20px auto; */
  background : rgb(243, 247, 251)
}